includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    paths:
        - src
    excludePaths:
        - 'src/DependencyInjection/Configuration.php'
    ignoreErrors:
        - '/Method Sylius\\PriceHistoryPlugin\\Domain\\Model\\\w+\:\:getId\(\) has no return type specified./'
        - '/Method Sylius\\PriceHistoryPlugin\\Infrastructure\\Doctrine\\ORM\\ChannelPricingLogEntryRepository\:\:findOlderThan\(\) should return array\<Sylius\\PriceHistoryPlugin\\Domain\\Model\\ChannelPricingLogEntryInterface\> but returns mixed./'
        - '/Instanceof between Sylius\\Component\\Core\\Calculator\\ProductVariantPricesCalculatorInterface and Sylius\\Component\\Core\\Calculator\\ProductVariantPricesCalculatorInterface will always evaluate to true./'
        - '/Instanceof between Sylius\\PriceHistoryPlugin\\Domain\\Model\\ChannelPricingLogEntryInterface and Sylius\\PriceHistoryPlugin\\Domain\\Model\\ChannelPricingLogEntryInterface will always evaluate to true./'
        - '/Instanceof between Sylius\\PriceHistoryPlugin\\Domain\\Model\\ChannelInterface and Sylius\\PriceHistoryPlugin\\Domain\\Model\\ChannelInterface will always evaluate to true./'
