{% form_theme form '@SyliusPriceHistoryPlugin/Channel/Admin/Form/theme.html.twig' %}
<div class="ui attached segment">
    {{ form_row(form.lowestPriceForDiscountedProductsVisible) }}
    {{ form_row(form.lowestPriceForDiscountedProductsCheckingPeriod) }}
</div>
